@model ArticlesSite.Models.Artilce

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" style="margin-top:100px; margin-bottom:300px;">

    <h3>هل انت متأكد من حذف هذه المقالة</h3>
    <div>
        <dl class="dl-horizontal form-content">

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Content)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Content)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </dt>

            <dd>
                <img src="~/Uploads/Artilce/@Model.ImageUrl" class="thumbnail" style="width:100px;height:100px;" />
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Created)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Created)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="حذف" class="btn btn-default" /> |
                @Html.ActionLink("العودة الى القائمة", "Index")
            </div>
        }
    </div>

</div>