@model IEnumerable<ArticlesSite.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" style="margin-top:100px; margin-bottom:300px;">
    <p>
        @Html.ActionLink("أنشاء صنف", "Create", null, new {@class = "btn btn-primary my-4"})
    </p>
    <table class="table table-bordered table-responsive ">
        <tr class="btn-primary text-white">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descreption)
            </th>
            <th>
                العمليات
            </th>
            </trclass="btn-primary>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descreption)
                </td>
                <td>
                    @Html.ActionLink("تعدبل", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("تفاصيل", "Details", new { id = item.Id }) |
                    @Html.ActionLink("حذف", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

        </table>

    </div>